<section class="banner" id="banners" role="banner">
    <div class="container">
        <div class="col-md-10 offset-md-1">
            <div class="banner-text text-center">
                <h1>Your Favorite One Page Multi Purpose Template</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.</p>
                <a href="#" class="btn btn-red btn-red-large">Find out more</a>
            </div><!-- banner text -->
        </div>
    </div>
</section><!-- banner -->