<section class="banner" id="banners" role="banner">
    <div class="container">
        <div class="col-md-10 offset-md-1">
            <div class="banner-text text-center">
                <h1 style="margin:0;background-color:#292c4786;padding:0.5rem 0px;">Welcome To Library Management System</h1>
                <p style="background-color:#292c4786;padding:0.5rem 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.</p>
                {% if user.is_authenticated %}
                <a href="/logout" class="btn btn-red btn-red-large">Log Out</a>
                {% else %}
                    <a href="/register" class="btn btn-red btn-red-large">Sign Up</a>
                {% endif %}
            </div><!-- banner text -->
        </div>
    </div>
</section><!-- banner -->