{% load static %}
<section id="recent-books" class="works mb-3">
    <h1 class="section-heading">RECENT BOOKS</h1>
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for book in books %}
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                {% if book.cover_pic.image %}
                    <a href="{{ book.cover_pic.url }}" class="work-box">
                        <img class="landing-rbs-img" src="{{ book.cover_pic.url }}" alt="img">
                {% else %}
                    <a href="{{ book.cover_pic }}" class="work-box">
                        <img class="landing-rbs-img" src="{{ book.cover_pic }}" alt="img">
                {% endif %}
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>{{ book.title }}</h5>
                            <p>{{ book.author }}</p>
                        </div>
                    </div><!-- overlay -->
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- works -->