{% load static %}
<section id="works" class="works">
    <h1 class="section-heading">RECENT BOOKS</h1>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images/work-1.jpg' %}" class="work-box">
                    <img src="{% static 'images/work-1.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images/work-2.jpg' %}" class="work-box">
                    <img src="{% static 'images/work-2.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images/work-3.jpg' %}" class="work-box">
                    <img src="{% static 'images/work-3.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images/work-4.jpg' %}" class="work-box">
                    <img src="{% static 'images/work-4.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images/work-5.jpg' %}" class="work-box">
                    <img src="{% static 'images/work-5.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images/work-6.jpg' %}" class="work-box">
                    <img src="{% static 'images/work-6.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images/work-7.jpg' %}" class="work-box">
                    <img src="{% static 'images/work-7.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div><!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="{% static 'images/work-8.jpg' %}" class="work-box">
                    <img src="{% static 'images/work-8.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div><!-- overlay -->
                </a>
            </div>
        </div>
    </div>
</section><!-- works -->