{% load static %}
<section id="testimonials" class="testimonials">
    <h1 class="section-heading">TESTIMONIALS</h1>
    <div class="container-fluid">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="row no-gutter">
                            <div class="col-md-6">
                                <div class="avatar">
                                    <img src="{% static 'images/testimonial-1.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <blockquote>
                                    <p>"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."
                                    </p>
                                    <cite class="author">Susan Sims, Interaction Designer at XYZ</cite>
                                </blockquote>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row no-gutter">
                            <div class="col-md-6">
                                <div class="avatar">
                                    <img src="{% static 'images/testimonial-2.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <blockquote>
                                    <p>"Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur...."
                                    </p>
                                    <cite class="author">Susan Sims, Interaction Designer at XYZ</cite>
                                </blockquote>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- flexslider -->
    </div>
</section><!-- testimonials -->