{% extends 'landing-base.html' %}

{% block content %}
{% csrf_token %}
    <div class="container text-center mb-5"> 
        <section class="book-desc-sec">
            {% if book_data %}
                <h1 class="section-heading"><small style="font-size: 25px;">Row : {{ book_data.shelf_no }}</small><br>{{ book_data.title }}<br><small style="font-size: 25px;">By: {{ book_data.author }}</small></h1>
                <div class="row">
                    <div class="col-md-5 img-sec">
                        {% if book.cover_pic.image %}
                            <img src="{{ book_data.cover_pic.url }}" alt="img">
                        {% else %}
                            <img src="{{ book_data.cover_pic }}" alt="img">
                        {% endif %}
                    </div>
                    <div class="col-md-7 book-content">
                        <p>{{ book_data.description }}</p>
                        <ul>
                            <li>
                                {% if book_data.reservation_id %}
                                    <span class="type">Reserved</span>
                                {% else %}
                                    <span class="type">Available</span>
                                {% endif %}
                            </li>
                        </ul>
                        {% if not book_data.reservation_id %}
                            <div class="btn-sec">
                                <button class="btn" data-href="{% url 'reserve_book' id=user.id bid=book_data.id %}" id="reserve-button">Reserve</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="alert alert-success my-auto" role="alert" id="post-sub-message" style="text-align:center;">
                    <h4>Book not found.</h4>
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}
