{% extends 'landing-base.html' %}

{% block content %}
<div class="container text-center mb-5">
    {% include "shared/searchbar.html" %}
    <section class="new-books-sec" id="new-book-section">
        <h1 class="section-heading">New books in library</h1>
        <div class="row">
            {% include 'shared/books.html' with books=latest_books %}
        </div>
        {% if latest_books.has_previous %}
            <a href="{% url 'library_page' %}?page={latest_books.previous_page_number}">Previous Page</a>
        {% endif %}
        {% if latest_books.has_next %}
            <a href="{% url 'library_page' %}?page={latest_books.next_page_number}">Next Page</a>
        {% endif %}
    </section>
</div>
{% endblock %}