{% extends 'landing-base.html' %}

{% block content %}
{% csrf_token %}
<div class="container text-center mb-5">
    {% include "shared/searchbar.html" with items=categories %}
    <section class="books-sec" id="new-book-section">
        <h1 class="section-heading">New books</h1>
        <div class="row">
            {% include 'shared/books.html' with books=latest_books %}
        </div>
        {% include 'shared/pagi_links.html' with books=latest_books page_type="latest_page" %}
    </section>
    <section class="books-sec" id="recommended-book-section">
        <h1 class="section-heading">Recommended books</h1>
        <div class="row">
            {% include 'shared/books.html' with books=recommended_books %}
        </div>
        {% include 'shared/pagi_links.html' with books=recommended_books page_type="recommended_page" %}
    </section>
</div>
{% endblock %}