<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-6">
                    <h5>Location</h5>
                    <p>Khalifa University<br>Abu Dhabi</p>
                </div>
                <!-- <div class="footer-col col-md-4">
                    <h5>Social links</h5>
                    <ul class="footer-share">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div> -->
                <div class="footer-col col-md-6">
                    <h5>About LMS</h5>
                    <p>LMS is an online library management system. It is very easy to use, responsive, and have recommendation system.</p>
                </div>
            </div>
        </div>
    </div><!-- footer top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-12">
                <p style="margin:0;">Copyright © 2020 LMS. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer><!-- footer -->