<section class="search-sec my-5" id="search-section">
    <div class="row">    
        <div class="col-xs-8 offset-xs-2 col-sm-8 offset-sm-2">
            <div class="input-group">
                <div class="input-group-prepend search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <label id="search_concept">All</label>
                    </button>
                    <ul class="dropdown-menu scrollable-dropdown" role="menu">
                        {% for item in items %}
                            <li class="search-dropdown-category"><a id="category-{{ item.id }}" href="#">{{ item.category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" id="search" placeholder="Search">
                <span class="input-group-append">
                    <button class="btn btn-default" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</section>