<section class="search-sec my-5" id="search-section">
    <div class="row">    
        <div class="col-xs-8 offset-xs-2 col-sm-8 offset-sm-2">
            <div class="input-group">
                <div class="input-group-prepend search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <label id="search_concept">All</label>
                    </button>
                    <ul class="dropdown-menu scrollable-dropdown" role="menu">
                        {% for item in items %}
                            <li id="search-category-{{ item.id }}" class="search-dropdown-category"><a data-id="{{ item.id }}" href="#">{{ item.category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% if filter_type %}
                    <input type="hidden" name="search_param" value="{{ filter_type }}" id="search_param">
                {% else %}
                    <input type="hidden" name="search_param" value="" id="search_param">
                {% endif %}
                
                {% if key %}
                    <input type="text" class="form-control" name="x" id="search" placeholder="Search by title" value="{{ key }}">
                {% else %}
                    <input type="text" class="form-control" name="x" id="search" placeholder="Search by title">
                {% endif %}
                <span class="input-group-append">
                    <button class="btn btn-default" id="searchbar-btn" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</section>